<div class='login-container'>
  <img src="assets/bg-01.jpg" alt=""/>
  <form name="form" #f="ngForm" (ngSubmit) = "verifyUser($event, f)"  class='login-form'>
    <div class='login'>Reset password</div>
    <div class='input-holder'>
     <div class='username'>Username:</div>
     <div class="username-input"><input (blur)="checkUser($event)" ngModel #name="ngModel" name="username" type="text"/></div>
     <div *ngIf = '!usernameCheck' class='fiedError'>{{errors[0].error}}</div>
    </div>

    <div class='input-holder'>
      <div  class='username'>Security question</div>
      <div class="username-input">
        <select class='question' ngModel #question ="ngModel" name="question" name="question" id="">
            <option *ngFor="let question of securityQuestions" [value] ="question">{{question}}</option>
        </select>
      </div>
    </div>

   <div class='input-holder'>
    <div  class='username'>Answare</div>
    <div class="username-input">
        <input  ngModel #answare ="ngModel" name="answare"/>
    </div>
    <div class='fiedError'></div>
    <div *ngIf="" class='fieldHint'></div>
    </div>


     <div class='input-holder'>
       <div class='login-button'><input type='submit' value='Reset' class='login-btn'/></div>
       <div *ngIf="invalidSecurity" class='error-msg'>{{errors[1].error}}</div>
     </div>

     <div class='input-holder acc'>
         <div class='accout'>
           <div class='ac'>Don't have an account yet?</div>
           <div class='ac'>Register <u [routerLink]="['/register']"> here </u> !</div>
         </div>
     </div>
  </form>
  <div *ngIf='userFound' class='resetModal'>
    <div class='resetFields'>
      <form name="form" #f="ngForm" (ngSubmit) = "changePassword($event, f)"  class='login-form changePw'>
        <div class='input-holder'>
         <div class='username'>New password:</div>
         <div class="username-input"><input  ngModel #name="ngModel" name="password" type="text"/></div>
         <!-- <div *ngIf = '!usernameCheck' class='fiedError'>{{errors[0].error}}</div> -->
        </div>
    
        <div class='input-holder'>
          <div  class='username'>Repeat password</div>
          <div class="username-input">
              <input  ngModel #answare ="ngModel" name="password_repeat"/>
          </div>
          <div class='fiedError'></div>
          <div *ngIf="" class='fieldHint'></div>
        </div>

        <div class='input-holder'>
          <div class='login-button'><input type='submit' value='Change password' class='login-btn'/></div>
          <div *ngIf="invalidNewPw" class='error-msg'>{{errors[2].error}}</div>
        </div>
      </form>
    </div>
  </div>
 </div>
